@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --foreground: #ededed;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 2px solid red;   */
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* height: 1000vh; */
}

.vertical-timeline-element-date {
  color: var(--foreground);
}

header {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 640px) {
  .backdrop-saturate-150 {
    --tw-backdrop-saturate: none;
  }
}

@media (max-width: 640px) {
  .vertical-timeline-element-date {
    color: #0f0f0f !important;
  }
}
